<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.iwork.mapper.ActivityMapper">
    <insert id="addActivity" parameterType="com.iwork.bean.Activity" useGeneratedKeys="true">
        insert into activity(
        activityId,
        activityCreateUserId,
        activityCreateTime,
        activityType,
        activityTitle,
        activityContext
        ) values(
        #{activityId},
        #{activityCreateUserId},
        #{activityCreateTime},
        #{activityType},
        #{activityTitle},
        #{activityContext}
        )
    </insert>
    

    <select id="listActivities" resultMap="welfareResultMap">
        select * from activity join user on activity.activityCreateUserId = user.userId where activityType=#{id}
    </select>
    <resultMap id="welfareResultMap" type="com.iwork.bean.Activity">
        <id property="activityId" column="activityId"></id>
        <result property="activityCreateUserId" column="activityCreateUserId"></result>
        <result property="activityCreateTime" column="activityCreateTime"></result>
        <result property="activityType" column="activityType"></result>
        <result property="activityTitle" column="activityTitle"></result>
        <result property="activityContext" column="activityContext"></result>
        <association property="user" column="userId" javaType="com.iwork.bean.User">
            <id property="userId" column="userId"></id>
            <result property="userName" column="userName"></result>
        </association>
    </resultMap>

    <select id="selectActivity" parameterType="java.lang.String" resultMap="ActivityById">
        select * from activity where activityId=#{id}
    </select>
    <resultMap id="ActivityById" type="com.iwork.bean.Activity">
        <id property="activityId" column="activityId"></id>
        <result property="activityCreateUserId" column="activityCreateUserId"></result>
        <result property="activityCreateTime" column="activityCreateTime"></result>
        <result property="activityType" column="activityType"></result>
        <result property="activityTitle" column="activityTitle"></result>
        <result property="activityContext" column="activityContext"></result>
    </resultMap>

    <insert id="addComment" parameterType="com.iwork.bean.Comment" useGeneratedKeys="true">
        insert into comment (
        content,userID,activityID,commentDate)
        values (
        #{content},#{userID},#{activityID},#{commentDate}
        )
    </insert>
    <select id="selectCommentsByArticleId" resultMap="userResultMap">
        SELECT * FROM `comment`
        INNER JOIN `user` ON `comment`.`userID`=`user`.`userId`
        WHERE activityID=#{id};
    </select>
    <resultMap id="userResultMap" type="com.iwork.bean.Comment">
        <id property="commentID" column="commentID"></id>
        <result property="content" column="content"></result>
        <result property="commentDate" column="commentDate"></result>
        <association property="user" column="userID" javaType="com.iwork.bean.User">
            <id property="userId" column="userId"></id>
            <result property="userName" column="userName"></result>
        </association>
    </resultMap>
    <delete id="deleteActivityById" parameterType="java.lang.String">
        delete from activity where activityId=#{activityId}
    </delete>
</mapper>