<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.iwork.mapper.ProjectTypeMapper">
    <insert id="addProjectType" parameterType="com.iwork.bean.Project_Type">
        insert into project_type(
        projectTypeName
        )values (
        #{projectTypeName}
        )
    </insert>

    <select id="showAllProjectType" resultType="com.iwork.bean.Project_Type">
        select * from project_type
    </select>
</mapper>