<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.iwork.mapper.UserMapper">
<!--    通过ID查找用户-->
    <select id="selectByUserId" parameterType="int" resultType="com.iwork.bean.User">
        select * from user where user.userId=#{id}
    </select>
    <!--    <resultMap id="userResultMap" type="com.iwork.bean.User">-->
    <!--        <id property="userId" column="user_id"></id>-->
    <!--        <result property="userName" column="user_name"></result>-->
    <!--        <result property="password" column="password"></result>-->
    <!--        <result property="position" column="user_name"></result>-->
    <!--        <result property="department" column="department"></result>-->
    <!--        <result property="power" column="power"></result>-->
    <!--        <result property="deleteSign" column="delete_sign"></result>-->
    <!--        <result property="isManager" column="is_manager"></result>-->
    <!--        <collection property="" column="activityId" ofType="com.iwork.bean.Activity"-->
    <!--                    select="com.iwork.mapper.ActivityMapper.listWelfares">-->
    <!--        </collection>-->
    <!--    </resultMap>-->
    <select id="selectByisManager"  resultType="com.iwork.bean.User">
        select * from user where user.isManager=1
    </select>
</mapper>